
html{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    
    
}
h1{
    color:57A5C8 ;
}
h2{
    color:57A5C8 ;
}
em{
    color:57A5C8 ;
}
body {
 
    background-color: 97FAE5;
}


.sombra1 {
color: 57A5C8 ;   
text-shadow: 0px 0px 8px 57A5C8;
font-size: 60px;
font-family: 'forte', serif;
text-align: center;
background-color:BEE3FB;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49274A;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
}

li a:hover {
    background-color: 97FAE5;
}

.grow:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
   
.margen{
      margin-top:auto;
  margin-right: 200px;
  margin-bottom: auto;
  margin-left: 200px;
}

.texto{
    text-align: center;
    font-family: "Arial";
    font-size: 15px;
    font-style: normal;
    
}

.textocenter{
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
}

p { 
font-family: serif;
font-family: "Arial";
text-align: justify;
width: 500px;
margin:10px auto;
}

.subir {
	display:inline-block;
	padding:10px;
	background:#49274A;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:60px;
	right:20px;
}


